node_modules
# Keep environment variables out of version control
.env
.env.example

/prisma/generated/prisma

/generated/prisma
error_log.txt





uploads/*
!uploads/.gitkeep
# Ignore log files

dist

check_order_items.ts
check_db.ts